@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@font-face {
  font-family: 'Norse';
  src: url('Norse-Bold.otf');
}

/* TURN ON FOR DEV TESTING
div{
  border: 2px solid red;
}
*/

 /* =================== \
|        Variables       |
 \ =================== */


 :root {
  --color-bg-primary: ivory;
  --color-bg-secondary: rgb(56, 56, 56);
  --color-text-primary: rgb(56, 56, 56);
  --color-text-secondary: ivory;
  --color-checkbox-green: green;
  --color-state-indeterminate: yellow;
  --color-state-success: limegreen;
  --color-state-error: rgb(225, 0, 0);
  --color-state-caution: orange;
  --color-accent-a: darkcyan;
  --color-accent-b: rgb(187, 161, 11);
  --color-accent-b-faded: rgba(187, 161, 11, 0.75);

  font-size: 18px;
  --font-size-h1: 30px;
  --font-size-h2: 24px;
  --font-size-h3: 21px;

  font-weight: 500;
  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 600;

  --section-height-header: 15vh;
  --section-height-main: calc(100vh - var(--section-height-header));

  --width-left-panel: 33vw;
}

 /* =================== \
|         Elements       |
 \ =================== */

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text-primary);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 20% 80%;
}

h1{
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
  padding: 20px;
  margin-bottom: 20px;
}

h2{
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-h2);
  padding: 12px;
  margin-bottom: 15px;
}

h3{
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-h3);
  padding: 10px;
}

header{
  min-height: var(--section-height-header);
  color: var(--color-text-secondary);
  background-color: white;
  padding: 10px;
  grid-column: 2 / 3;
  z-index: 1;
}

main {
  min-height: var(--section-height-main);
  background-color: rgba(191, 199, 222, 0.3);
  display: grid;
  grid-template-columns: 1.15fr 1.15fr 1fr;
  width: 100%;
}

/* Will need to replace the OS styles */
input{
  appearance: none;
}

input[type="checkbox"]{
  position: relative; /* This is key, otherwise the checkbox is not clickable */
  border: 1px solid black;
  width: 1em;
  height: 1em;
  /* Adjusts the position of the checkboxes on the text baseline */
  vertical-align: -4px;
  /* Set here so that Windows' High-Contrast Mode can override */
  color: green;
}

input[type="checkbox"]::before{
  content: "✔";
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

/* Must do :state::psuedo-class not
the other way around */
input[type="checkbox"]:checked::before{
  visibility: visible;
}

/*
input[type="radio"]{
  
}

input[type="radio"]:checked::before{
  
}

input[type="radio"]::before{
  
}
*/

legend{
  color: green;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: center;
  border: 2px solid green;
}

input:read-only{
  background-color: lightgray;
}

input:autofill {
  border: 1px solid purple;  
}

input:-webkit-autofill{
  border: 10px solid purple;
}

button{
  background-color: rgb(56, 56, 56);
  color: ivory;
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
}

button:hover{
  cursor: pointer;
}

button:active{
  transform: scale(0.9);
}


a, a:visited, a:active {
  color: inherit;
}

a:hover{
  color: inherit;
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

 /* =================== \
|         Classes        |
 \ =================== */ 

.sidebar{
  z-index: 1;
  min-width: 150px;
  background-color: #105b7c;
  color: white;
  font-weight: 700;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  min-height: 100vh;

  display: grid;
  gap: 40px;
  grid-template-rows: 80px min-content min-content;
}

.sidebar-title{
  display: flex;
  align-items: center;

  font-size: 1rem;
  font-weight: bold;
  padding-top: 10px;
}

.sidebar-content{
  text-align: left;
  font-size: .85rem;
}

.sidebar-item{
  display: flex;
  align-items: center;
}

.section-wrapper {
  min-height: 30vh;
  border: 2px dashed red;
}

.card {
  padding: 20px;
  border-left: 6px solid rgb(255, 204, 0);
  box-shadow: 3px 3px 3px 3px rgba(56, 56, 56, 0.5);
  border-radius: 5px;
  background-color: white;
  grid-column: 1 / 2;
  grid-row: span 1;
  max-height: 200px;
  overflow: scroll;
}

.card h3{
  padding: 0px;
  margin-bottom: 10px;
  font-size: 0.9rem;
}

.card p {
}

.username{
}

.list-trending{
  padding: 20px;
  box-shadow: 3px 3px 3px 3px rgba(56, 56, 56, 0.5);
  border-radius: 5px;
  background-color: white;
  overflow: scroll;
}

.list-trending ul li{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.avatar{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.username{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

hr{
  max-width: 80%;
}

.projects{
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  padding: 20px;
}

.project-icons{
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.project2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.project3{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.project4{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.project5{
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.project6{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.right-panel{
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  display: grid;
  grid-template-rows: minmax(50vh, min-content) minmax(50vh, min-content);
}

.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px;
  margin: 4px 10px;
}

.avatar{
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 4px;
  margin: 4px 10px;
}

main p{
  font-size: .75rem;
}
